$base-color: #aaa;
// $base-color: #580603;
$active-color: #dedede;
$base-gradient: 'glossy';
$page-bg-color: black;
$neutral-color: grey;
$list-bg-color: #333;
$list-active-color: #999;
$list-color: white;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-button-ui('orange',#ff8000,'glossy');
// @include sencha-sheet;
// @include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
// @include sencha-toolbar-forms;
// @include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
// @include sencha-carousel;
// @include sencha-form;
// @include sencha-msgbox;

// Your custom code goes here...

@include pictos-iconmask('music1');
@include pictos-iconmask('photos2');

.x-html h1, .x-html h2, .x-html h3, .x-html h4, .x-html h5, .x-html h6 {
    font-weight: normal;
    color: #cecece;
}
.x-html {
    line-height: 1.5;
    color: #cecece;
    font-size: .8em;
}
.home {
    img.logo {
        float: left;
        padding-right: 1em;
        padding-bottom: 1em;
    }
    h1 {
        font-size: 2em;
    }
}
.x-list time {
    font-size: 0.8em;
}
